<html>
    <header>
        <title>Product app</title>
    </header>
    <body>
        <h1>
            Ajout d'un nouveau produit
        </h1>

        <!-- formualaire ajout produit -->
            <form>
            <label for="fproductName"> Nom du produit :</label>
            <input type="text" id="fproductName" name="fname"> <br>

            <label for="fproductdesc"> Description du produit :</label>
            <input type="text" id="fproductdesc" name="fdesc"> <br>

            <label for="fproductCategory">Catégorie du produit :</label>
            <input type="text" id="fproductCategory" name="fcategory"> <br>

            <label for="fpriceBase">Prix de base :</label>
            <input type="text" id="fpriceBase" name="fprice"> <br>
            <br>
            <input type="submit" value="Créer">
            
        </form>
    </body>
</html>